#sticky-side
{
  position:fixed;
  top:50%;
  transform:translateY(-50%);
  right:0;
  display: flex;
  align-items: center;
}

.contact-btn{
  height:50px;
  width:150px;
  background-color:#3F51B5;
  color:#fff;
  line-height:50px;
  text-align:center;
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
  transform:translatex(50px) rotate(-90deg);
  cursor:pointer;
}

.contact-btn p{
	rotate: 90deg;
	transition: transform .4s ease-in-out;
}

#side-box
{
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-right: 0;
    height: auto;
    max-height: calc(100vh - 20px);
    overflow-y: auto;
    background: #fff;
    max-width: 400px;
    margin-right: -220px;
    z-index: 9999;
    transition: all .5s;
      box-sizing: border-box;
}
#side-box .side-header
{
  display:block;
  background-color:#3F51B5;
  padding:0 15px;
  font-size:20px;
  color:#fff;height:40px;
  line-height:40px;
  position:relative;
}
#side-box .side-header i{
  font-size:20px;
  position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  cursor:pointer;
  
}
.open-box {
    margin-right: 0 !important;
}

.side-content{
	box-sizing: content-box;
	margin-top: 50px;
	margin-inline: 20px;
}

.side-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
	width: min-content;
}
.side-icons li
{
  margin-bottom:4px;
}
.side-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px;
}
.side-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:100px;
  width:150px;
  height:150px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
}
.side-icons a:active,.side-icons a:focus,.side-icons a:hover
{
  color:#fff;
  background-color:#29aafe;
}
.side-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px;
}